body {
   padding-top: 40px;
   /*background-color: #40BADB !important;*/
   background-color: #4BB49A !important;
}

.panel-title {
   text-align: center;
}

/*This is used to change the sign in button on the login page. Might want to change to an id*/
#sign-in {
   background-color: black;
}
#sign-in:hover {
   background-color:#02785A;
}

#register  {
   font-color: black;
}

/*Editing the navbar buttons*/
.navbar-right {
   padding-right: 20px;
}

.btn-default {
   background-color: #02785A !important;
   border-width: 0px !important;
}

.panel-default > .panel-heading {
   background-color: #02785A !important;
}
.panel-default {
   background-color: #FFFFFF !important;
   border-width: 3px !important;
   border-color: #02785A !important;
}
