<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="scripts/parser.js"></script>
  <script src="scripts/sendRequest.js"></script>

  <title>Form</title>
</head>
<body>

<div class="container">

   <div class="row">

      <!-- Left sidebar -->
      <div class="col-md-3">
      </div>

      <!-- center -->
      <div class="col-md-6">
         <div class="panel panel-default">
            <p> Welcome! Select your budget statment from the dropdown below. </p>
            <form>
               <select class="c-select">
                 <option selected>Choose your bank statement:</option>
                 <option value="1">Statement 1</option>
                 <option value="2">Statement 2</option>
               </select>
               <button type="button" class="btn btn-default" id="form_submit">Submit</button>
            </form>
         <!--
         <div class="dropdown">
           <button class="btn btn-primary dropdown-toggle statementId" type="button" data-toggle="dropdown">Choose your bank statement
           <span class="caret"></span></button>
           <ul class="dropdown-menu">
             <li><a href="#">Statement 1</a></li>
             <li><a href="#">Statement 2</a></li>
           </ul>
         </div> -->
      </div>
      </div>

      <!-- right sidebar -->
      <div class="col-md-3">
      </div>

  </div>
</div>

</body>
</html>
