<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Analysis</title>

   <!-- Bootstrap's CSS -->
   <link href="analysis.css" rel="stylesheet">

   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="../font-awesome-4.5.0/css/font-awesome.min.css">
   <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
</head>
<body>

   <!-- Creating a NavBar -->
   <nav class="navbar navbar-fixed-top">
      <ul class="nav navbar-nav navbar-right">
         <button type="button" class="btn btn-default navbar-btn fa fa-user"> Settings</button>
         <button type="button" class="btn btn-default navbar-btn fa fa-edit"> Change Statement</button>
      </ul>
   </nav>



   <div class="container">
      <!-- The row that contains the three main columns of the website. -->
      <div class="row">
         <!-- Left sidebar: A cell that spans 2 columns -->
         <div class="col-md-2">

         </div>
         <!-- Main feed: A cell that spans 8 columns -->
         <div class="col-md-8">

            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Monthy Budget Analysis</h3>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-md-10">
                        <div class="row">
                           <div class="col-md-12">
                              <ul class="media-list">
