<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Settings</title>

    <!-- Bootstrap's CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome-4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="settings.css">

    <!-- Custom Scripts -->
    <script src="../scripts/sendRequest.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1>Account Settings</h1>
        <hr>
        <form class="budgets" role="form">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <label for="dining-out" class="col-xs-7 text-right">Budget for dining out: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="dining_out" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="electronics" class="col-xs-7 text-right">Budget for electronics: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="electronics" data-cat="electronics" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="travel" class="col-xs-7 text-right">Budget for travel: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="travel" data-cat="travel" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="groceries" class="col-xs-7 text-right">Budget for groceries: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="groceries" data-cat="groceries" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="entertainment" class="col-xs-7 text-right">Budget for entertainment: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="entertainment" data-cat="entertainment" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="clothing" class="col-xs-7 text-right">Budget for clothing: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="clothing" data-cat="clothing" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
              <div class="form-group row">
                <label for="rainy_day" class="col-xs-7 text-right">Budget for a rainy day: </label>
                <div class="col-xs-5 input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="rainy_day" data-cat="rainy_day" placeholder="Amount" onchange="sendBudget(this)">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
